---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Main from "../components/Main.astro";
import HomeSection from "../sections/HomeSection.astro";
import AboutSection from "../sections/AboutSection.astro";
import SkillsSection from "../sections/SkillsSection.astro";
import ExperiencesSection from "../sections/ExperiencesSection.astro";
import ProjectsSection from "../sections/ProjectsSection.astro";
import EducationSection from "../sections/EducationSection.astro";
import CertificatesSection from "../sections/CertificatesSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Jacob Domingo - Portfolio Website">
  <Navbar />
  <Main>
    <HomeSection />
    <AboutSection />
    <SkillsSection />
    <ExperiencesSection />
    <ProjectsSection />
    <EducationSection />
    <CertificatesSection />
    <ContactSection />
	<Footer />
  </Main>
</MainLayout>
